#navbar {
    padding: 0.5rem 1.25rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
}

#logo {
    width: 190px;
    cursor: pointer;
}

#general-search {
    width: 50%;
}

.sidebar-button {
    padding: 0 10px;
    font-size: 1.25rem;
    cursor: pointer;
    color: #FFFFFF;
}

.logo-text {
    /* color: #E74C3C; */
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.25;
    font-size: 1.35rem;
}

.flex-v-align {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.nv-right-item {
    text-align: right;
    padding: 0;
}

.car-shop {
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
}

.car-shop i {
    color: #FFFFFF;
    font-size: 1.5rem;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #logo {
        width: 170px;
    }
    .sidebar-button {
        width: 50px;
    }
    #general-search {
        width: 360px;
    }
    .nv-right-item {
        width: calc(100% - 580px);
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #logo {
        width: 180px;
    }
    .sidebar-button {
        width: 60px;
    }
    #general-search {
        width: 560px;
    }
    .nv-right-item {
        width: calc(100% - 800px);
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    #logo {
        width: 200px;
    }
    .sidebar-button {
        width: 70px;
    }
    #general-search {
        width: 560px;
    }
    .nv-right-item {
        width: calc(100% - 830px);
    }
}