#sidebar {
    width: 20rem;
    height: 100vh;
    background-color: antiquewhite;
    position: fixed;
    overflow: hidden;
}

.sidebar-container {
    position: relative;
    padding: 1.25rem;
}

#sidebar ul {
    list-style: none;
    position: absolute;
    left: 0;
    top: 2rem;
    padding: 1.25rem 0;
    width: 100%;
}

#sidebar ul li {
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    margin-bottom: 0.125rem;
}

#sidebar ul li:hover {
    background-color: aquamarine;
    -webkit-transition: background-color 0.35s ease-in;
    -moz-transition: background-color 0.35s ease-in;
    transition: background-color 0.35s ease-in;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}