#sidebar {
    width: 20rem;
    height: 100vh;
    background-color: antiquewhite;
    position: fixed;
    overflow: hidden;
}

.sb-hidden {
    margin-left: -20rem;
    -webkit-transition: margin-left 0.35s ease-in;
    -moz-transition: margin-left 0.35s ease-in;
    transition: margin-left 0.35s ease-in;
}

.sb-show {
    margin-left: 0;
    -webkit-transition: margin-left 0.35s ease-in;
    -moz-transition: margin-left 0.35s ease-in;
    transition: margin-left 0.35s ease-in;
}

.sidebar-container {
    position: relative;
    padding: 4rem 1.25rem 1rem 1.25rem;
    overflow: hidden;
    border-bottom: 1px solid #9f9f9f;
}

#sidebar-info {
    height: 1.25rem;
}

.menu-text-info {
    position: absolute;
}

#sidebar ul {
    list-style: none;
    position: absolute;
    left: 0;
    top: 5rem;
    padding: 1.25rem 0;
    width: 100%;
}

#sidebar ul li {
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    font-size: 0.875rem;
}

li.level-link {
    border-bottom: 1px solid #9f9f9f;
}

#sidebar ul li:hover {
    background-color: aquamarine;
    -webkit-transition: background-color 0.35s ease-in;
    -moz-transition: background-color 0.35s ease-in;
    transition: background-color 0.35s ease-in;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}