#sidebar {
    width: 20rem;
    height: 100vh;
    /* background-color: antiquewhite; */
    position: fixed;
    overflow: hidden;
    color: #FFFFFF;
    z-index: 2;
}

.top-hidden {
    height: 56px;
}

.sb-hidden {
    margin-left: -20rem;
    -webkit-transition: margin-left 0.35s ease-in;
    -moz-transition: margin-left 0.35s ease-in;
    transition: margin-left 0.35s ease-in;
}

.sb-show {
    margin-left: 0;
    -webkit-transition: margin-left 0.35s ease-in;
    -moz-transition: margin-left 0.35s ease-in;
    transition: margin-left 0.35s ease-in;
}

.sidebar-container {
    position: relative;
    padding: 1rem 1.25rem 1rem 1.25rem;
    overflow: hidden;
    border-bottom: 1px solid #2f2f2f;
    background-color: rgba(58, 58, 58, 0.81);
}

#sidebar-info {
    height: 1.25rem;
}

.menu-text-info {
    position: absolute;
}

#sidebar ul {
    list-style: none;
    position: absolute;
    height: calc(100vh - 109px);
    left: 0;
    top: 6.825rem;
    padding: 0;
    width: 100%;
    background-color: rgba(73, 74, 74, 0.81);
}

#sidebar ul li {
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    font-size: 0.875rem;
}

li.level-link {
    border-bottom: 1px solid #2f2f2f;
}

#sidebar ul li:hover {
    background-color: rgba(249, 249, 249, 0.18);
    -webkit-transition: background-color 0.35s ease-in;
    -moz-transition: background-color 0.35s ease-in;
    transition: background-color 0.35s ease-in;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}