<div class="ParallaxVideo">
    <div class="paralla-img"></div>
    <video #homeVideoHeader autoplay muted loop>
      <source src="./assets/media/videos/home/home.mp4" type="video/mp4">
    </video>
    <h1 class="d-none d-sm-block d-md-none d-lg-block">SuperVoice</h1>
    <h2>Encuentra al mejor locutor para tu proyecto</h2>
    <h2>Es fácil, rápido y moderno</h2>
    <!--
    <div class="wp-btn-header">
        <div class="row m-0">
            <div class="d-none d-sm-block col-sm-4 col-md-4 col-xl-4 hidden-xs-down text-right">
                <button (click)="scroll(target)" type="button" class="btn btn-outline-light"><i class="fa fa-volume-up" aria-hidden="true"></i> Ejemplos</button>
            </div>
            <div class="d-none d-sm-block col-sm-4 col-md-4 col-xl-4 hidden-xs-down text-center">
                <button [routerLink]="['/contest']" type="button" class="btn btn-outline-light"><i class="fa fa-trophy" aria-hidden="true"></i> Crear concurso</button>
            </div>
            <div class="d-none d-sm-block col-sm-4 col-md-4 col-xl-4 hidden-xs-down text-left">
                <button [routerLink]="['/register']" type="button" class="btn btn-outline-light"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrarse</button>
            </div>
        </div>
    </div>
    -->
</div>
<div class="bg-gray" style="height: 800px">
    algo
</div>