.ParallaxVideo {
    height: 330px;
    padding-bottom: 10px;
    padding-top: 100px;
    position: relative;
    background-image: linear-gradient(to left bottom, rgba(0, 0, 0, 0.86), rgba(25, 24, 23, 0.76), #2a282775, #3b3a3794, #4c4d49e0);
}

.paralla-img {
    background: url('../../../assets/media/img/home/home-parallax-video.png') repeat;
    /* background-color: #e6e6e621; */
    height: 540px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -998;
}

.ParallaxVideo video {
    position: fixed;
    min-width: 100%;
    top: 0;
    z-index: -999;
}

.ParallaxVideo h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.ParallaxVideo h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

#home-container {
    padding: 1.25rem;
    padding-bottom: 138px;
}


/* TEXT STYLES */

.text-promotion {
    position: relative;
    padding-top: 3rem;
    height: 144px;
}

.big-text {
    font-size: 4.5rem;
    font-weight: 800;
    color: rgba(214, 214, 214, 0.91);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.title-promotion {
    position: relative;
    z-index: 1;
    padding-left: 2px;
}


/* OTHERS PRODUCTS STYLES */

.other-products {
    padding: 4rem 0;
}

.op-logo img {
    width: 30%;
}


/* CARDS HOME STYLES */

.card-home img {}


/* SLICK ARROW STYLES */

.slick-prev:before,
.slick-next:before {
    font-size: 50px;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .ParallaxVideo {
        height: 330px;
        padding-top: 100px;
    }
    .card-home .card-body {
        background-color: #ececec;
    }
    .card-home ul li {
        padding: 1rem 0 0 0;
        background-color: #ececec;
    }
    .other-products {
        padding: 4rem 0;
    }
    .op-logo img {
        width: 20%;
    }
    .big-text {
        font-size: 6rem;
    }
    .text-promotion {
        padding-top: 3rem;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .ParallaxVideo {
        height: 430px;
        padding-top: 160px;
    }
    .card-home .card-body {
        background-color: #ececec;
    }
    .card-home ul li {
        padding: 1rem 0 0 0;
        background-color: #ececec;
    }
    .other-products {
        padding: 4rem 0;
    }
    .op-logo img {
        width: 20%;
    }
    .big-text {
        font-size: 6rem;
    }
    .text-promotion {
        padding-top: 5rem;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .ParallaxVideo {
        height: 540px;
        padding-top: 160px;
    }
    .card-home img {
        width: 100%;
        max-height: 200px;
    }
    .card-home .card-body {
        background-color: #ececec;
    }
    .card-home ul li {
        padding: 1rem 0 0 0;
        background-color: #ececec;
    }
    .other-products {
        padding: 4rem 0;
    }
    .op-logo img {
        width: 15%;
    }
    .big-text {
        font-size: 6rem;
    }
    .text-promotion {
        padding-top: 5rem;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .ParallaxVideo {
        height: 540px;
        padding-top: 160px;
    }
    .card-home img {
        width: 100%;
        max-height: 200px;
    }
    .card-home .card-body {
        background-color: #ececec;
    }
    .card-home ul li {
        padding: 1rem 0 0 0;
        background-color: #ececec;
    }
    .other-products {
        padding: 4rem 0;
    }
    .op-logo img {
        width: 10%;
    }
    .big-text {
        font-size: 6rem;
    }
    .text-promotion {
        padding-top: 4.95rem;
    }
}