/* You can add global styles to this file, and also import other style files */

*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
    background-color: #e5e5e5 !important;
}


/* General styles */

.bg-navbar {
    background-color: rgb(56, 151, 246);
}

.bg-gray {
    background-color: #e5e5e5;
}

.bg-purple {
    background-color: #B680CE;
}

.bg-blue {
    background: #3B9FE6;
}

.bg-green {
    background: #26C4A2;
}

.bg-red {
    background: #D7675A;
}

.bg-transparent {
    background: rgba(0, 0, 0, 0.0);
}

.tc-white {
    color: #FFFFFF;
}

.tc-muted-purple {
    color: #835896;
}

.tc-muted-blue {
    color: #2d72a2;
}

.tc-muted-red {
    color: #a0443a;
}

.tc-muted-green {
    color: #1f9c82;
}

.pages-container {
    padding: 56px 20px 0 20px;
    position: relative;
    min-height: calc(100vh - 136px);
}

.card-product {
    background-color: #e5e5e5 !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    padding-bottom: 20px;
}