<div class="footer-container">
    <div class="back-top text-center" (click)="backToTop()">Back to top</div>
    <div class="row container-footer-info">
        <div class="col-xl-4 col-lg-4 col-md-4 d-none d-none-sm d-xl-block d-lg-block d-md-block text-left">
            <p>Some information here</p>
            <p>Tel: 300 455 0101</p>
            <p>correo@correo.com</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <p>El Baratón</p>
            <p>Design by WAR - Bogotá Colombia</p>
            <p>2019 - github.com/wrubio</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 d-none d-none-sm d-xl-block d-lg-block d-md-block text-right">
            <p><i class="fa fa-css3" aria-hidden="true"></i></p>
            <p><i class="fa fa-html5" aria-hidden="true"></i></p>
        </div>
    </div>
</div>